
#title {
    display: center;
    color: red;
    font-family: poppins;
    font-style: italic;
    font-size: large;  
    padding-left: 35%;
}

#back {
        float: right;   
    height: 50%;
    padding-right: 8px;
}

.Img {
    width: 100%;
    height: 100%;
}

.buttonPT {
    height: 50%;
    border: 0;
    padding-left: 84%;
}
