#title {
    display: center;
    color: red;
    font-family: poppins;
    font-style: italic;
    font-size: large;  
    padding-left: 30%;
    padding-top: 10%;
}

#back {
    width: 100%;
    width: fit-content;
    float: right;   
    height: 50%;
    
    padding-right: 8px;
}
#parag{
    padding-left: 12px;
    font-family: poppins;
    font-size: small;
}

.Img {
    width: 100%;
    height: 100%;
}

.buttonPT {
    height: 50%;
    border: 0;
    padding-left: 84%;
}