#container {
  text-align: center;
  padding-top: 1px;
  width: 100%;
  height: 90%;
  background-color: blue;
}

.titulo {
  color: black;
  font-family: poppins;
  font-size: xx-large;
  padding-top: 70%;
  
}

#divBut {
  padding: auto;
  position: absolute;
  width: 100%;
  height: 10%;
}
#login {
  border-radius: 5px;
  background-color: #c82121;
  border: 1px solid black;
  width: 50%;
  height: 100%;
}
#register {
  border-radius: 5px;
  background-color: #c82121;
  width: 50%;
  height: 100%;
  border: 1px solid black;
  
}
